<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "GameBook", games_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Juegos", games_path, class: "nav-link active" %></li>
      <li class="nav-item"><%= link_to "Mi lista", gamelists_path, class: "nav-link active" %></li>
      <li class="nav-item"><%= link_to "Amigos", url_for(), class: "nav-link disabled" %></li>
      <li class="nav-item"><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "nav-link active" %></li>
    </ul>
    <form class="form-inline" action="<%= url_for(root_url) %>">
      <label for="titulo" style="visibility: hidden">Búsqueda de videojuegos</label>
      <input class="form-control mr-sm-2" type="search" id="titulo" name="search"
             placeholder="Buscar..." aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>