

<h1>Gamelists</h1>

<table>
  <thead>
  <tr>
    <th>Portada</th>
    <th>Título</th>
    <th>Estado</th>
    <th>Eliminar</th>
  </tr>
  </thead>

  <tbody>
  <% @gamelists.each do |gamelist| %>
      <tr>
        <td>
          <div class="gameIcon col-md-4">
            <%= image_tag gamelist.game .image_url %>
          </div>
        </td>
        <td><%= gamelist.game.titulo %></td>
        <td><%= gamelist.status %></td>

        <td><%= link_to 'Destroy', gamelist, method: :delete, data: {confirm: "Estás seguro?"} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gamelist', new_gamelist_path %>
