

<div class="panel panel-default">
  <div class="panel-body">
    <section id="gameInfo" class="row">
      <div class="gameIcon col-md-4">
        <%= image_tag @game.image_url %>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1><%= @game.titulo %></h1>
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <td><strong>Sinopsis:</strong></td>
              <td><%= @game.sinopsis %></td>
            </tr>
            <tr>
              <td><strong>Fecha de lanzamiento:</strong></td>
              <td><%= @game.lanzamiento %></td>
            </tr>
            <tr>
              <td>
                <%= button_to('Añadir a la lista como deseado', gamelists_path, method: :post, params: {game_id: @game.id, status: 'Deseado'}) %>
              </td>
              <td>
                <%= button_to('Añadir a la lista como obtenido', gamelists_path, method: :post, params: {game_id: @game.id, status: 'Obtenido'}) %>
              </td>
              <td>
                <%= button_to('Añadir a la lista como jugado', gamelists_path, method: :post, params: {game_id: @game.id, status: 'Jugado'}) %>
              </td>
              <td>
                <%= button_to('Eliminar de mi lista', gamelist_path, method: :delete, params: {game_id: @game.id}) %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section id="comments">
      <h2>Comentarios</h2>
      <section class="createCom">
        <h3>Deja tu comentario</h3>
        <%= form_for([@game, @game.comments.build]) do |f| %>
            <% f.text_area :body %>
            <% f.submit %>
        <% end %>
      </section>
      <%= render @game.comments %>
    </section>
  </div>
</div>
