<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <section id="gameInfo" class="row">
      <div class="gameIcon col-md-4">
        <%= image_tag @game.image_url %>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1><%= @game.titulo %></h1>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Sinopsis:</strong></td>
                <td><%= @game.sinopsis %></td>
              </tr>
              <tr>
                <td><strong>Fecha de lanzamiento:</strong></td>
                <td><%= @game.lanzamiento %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section id="comments">
      <h2>Comentarios</h2>
    </section>
  </div>
</div>
